*:not(dialog) {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
}
body {
	padding: 64px;
	background-color: #e0f1e8;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
hr {
	width: 80%;
	height: 4px;
	background: #2a4144;
	border-radius: 999px;
}
.neuille {
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1 {
	font-weight: 700;
	font-style: Bold;
	font-size: 72px;
	line-height: 100%;
	letter-spacing: -1px;
	text-align: center;
	vertical-align: middle;
	color: #2a4144;
}
button {
	background-color: #0c7d69;
	padding: 16px 24px;
	border-radius: 8px;
	border: none;
	height: max-content;

	font-weight: 700;
	font-style: Bold;
	font-size: font-size/body-md;
	color: #ffffff;
	line-height: 150%;
	letter-spacing: 0%;
}
form {
	background-color: white;
}
